<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>PPO-MYBAG</title>
        <link rel="stylesheet" type="text/css" href="/css/index.css" />
        <link rel="icon" type="image/png" href="/images/fav.png" />
    </head>
    <body>
        <div class="header">
            <div class="header-wrap">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="로고" />
                    </a>
                </div>
                <ul class="menu">
                    <li><a href="/products/new">NEW</a></li>
                    <li><a href="/products/all">All</a></li>
                    <li><a href="/boards/list">NOTICE</a></li>
                    <li><a href="/accounts/mypage">MY PAGE</a></li>
                    <li><a href="/accounts/signin">SIGN IN</a></li>
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="slideBox">
                <div class="slide">
                    <img src="/images/s1-1.jpg" alt="슬라이더1" />
                </div>
                <div class="slide">
                    <img src="/images/s1-2.jpg" alt="슬라이더1" />
                </div>
                <div class="slide">
                    <img src="/images/s1-4.jpg" alt="슬라이더1" />
                </div>
            </div>
            <div class="slideController">
                <div class="ellipse active"></div>
                <div class="ellipse"></div>
                <div class="ellipse"></div>
            </div>
        </div>
        <div class="footer">
            <div class="info">
                상호 : PPO-mybag | 주소 : 서울시 도봉구 방학동 | 메일 :
                qhfka30604@naver.com <br />
                COPYRIGHT 2023 BY PPO-mybag ALL RIGHTS RESERVED
            </div>
        </div>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
